FrontEnd/garuda/.env
Docker Images/Redis/data/dump.rdb
Docker Images/Mongodb/mongo-volume/_mdb_catalog.wt
Docker Images/Mongodb/mongo-volume/collection-0-8284315032048278420.wt
Docker Images/Mongodb/mongo-volume/collection-2-8284315032048278420.wt
Docker Images/Mongodb/mongo-volume/collection-4-8284315032048278420.wt
Docker Images/Mongodb/mongo-volume/index-1-8284315032048278420.wt
Docker Images/Mongodb/mongo-volume/index-3-8284315032048278420.wt
Docker Images/Mongodb/mongo-volume/index-5-8284315032048278420.wt
Docker Images/Mongodb/mongo-volume/index-6-8284315032048278420.wt
Docker Images/Mongodb/mongo-volume/mongod.lock
Docker Images/Mongodb/mongo-volume/sizeStorer.wt
Docker Images/Mongodb/mongo-volume/storage.bson
Docker Images/Mongodb/mongo-volume/WiredTiger
Docker Images/Mongodb/mongo-volume/WiredTiger.lock
Docker Images/Mongodb/mongo-volume/WiredTiger.turtle
Docker Images/Mongodb/mongo-volume/WiredTiger.wt
Docker Images/Mongodb/mongo-volume/WiredTigerHS.wt
Docker Images/Mongodb/mongo-volume/diagnostic.data/metrics.2022-03-23T22-36-28Z-00000
Docker Images/Mongodb/mongo-volume/diagnostic.data/metrics.2022-03-24T11-03-56Z-00000
Docker Images/Mongodb/mongo-volume/diagnostic.data/metrics.interim
Docker Images/Mongodb/mongo-volume/journal/WiredTigerLog.0000000002
Docker Images/Mongodb/mongo-volume/journal/WiredTigerPreplog.0000000001
Docker Images/Mongodb/mongo-volume/journal/WiredTigerPreplog.0000000002
FrontEnd/garuda/package-lock.json
MicroServicesGateway/WebSocketGateway/__pycache__/__init__.cpython-39.pyc
MicroServicesGateway/WebSocketGateway/__pycache__/SocketGateway.cpython-39.pyc
MicroServicesGateway/WebSocketGateway/logs/.__SocketGateway.lock
MicroServicesGateway/WebSocketGateway/logs/SocketGateway.log
MicroServicesGateway/WebSocketGateway/.env
MicroServicesGateway/LoadMicroService/data/cm01APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/cm04APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/cm05APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/cm06APR2022bhav.csv
MicroServicesGateway/UtilitiesService/logs/.__UtilityService.lock
MicroServicesGateway/UtilitiesService/logs/UtilityService.log
MicroServicesGateway/UtilitiesService/datafile/NSEHoliday - Sheet1.csv
MicroServicesGateway/UtilitiesService/.DS_Store
Untitled.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Docker Images/.DS_Store
Docker Images/Mongodb/mongo-volume/collection-0-5930526386702077249.wt
Docker Images/Mongodb/mongo-volume/collection-2-3215029753299355207.wt
Docker Images/Mongodb/mongo-volume/collection-2-5930526386702077249.wt
Docker Images/Mongodb/mongo-volume/collection-4-5930526386702077249.wt
Docker Images/Mongodb/mongo-volume/collection-6-5930526386702077249.wt
Docker Images/Mongodb/mongo-volume/collection-20--5336455189221768748.wt
Docker Images/Mongodb/mongo-volume/index-1-5930526386702077249.wt
Docker Images/Mongodb/mongo-volume/index-3-3215029753299355207.wt
Docker Images/Mongodb/mongo-volume/index-5-5930526386702077249.wt
Docker Images/Mongodb/mongo-volume/index-7-5930526386702077249.wt
Docker Images/Mongodb/mongo-volume/index-21--5336455189221768748.wt
Docker Images/Mongodb/mongo-volume/diagnostic.data/metrics.2022-03-26T05-51-13Z-00000
Docker Images/Mongodb/mongo-volume/diagnostic.data/metrics.2022-03-26T19-06-05Z-00000
Docker Images/Mongodb/mongo-volume/diagnostic.data/metrics.2022-03-27T04-21-30Z-00000
Docker Images/Mongodb/mongo-volume/diagnostic.data/metrics.2022-03-27T20-27-38Z-00000
Docker Images/Mongodb/mongo-volume/diagnostic.data/metrics.2022-03-28T18-59-07Z-00000
Docker Images/Mongodb/mongo-volume/diagnostic.data/metrics.2022-03-31T22-57-57Z-00000
Docker Images/Mongodb/mongo-volume/diagnostic.data/metrics.2022-04-02T09-26-34Z-00000
Docker Images/Mongodb/mongo-volume/diagnostic.data/metrics.2022-04-02T15-56-37Z-00000
Docker Images/Mongodb/mongo-volume/diagnostic.data/metrics.2022-04-05T19-01-14Z-00000
Docker Images/Mongodb/mongo-volume/diagnostic.data/metrics.2022-04-11T17-24-45Z-00000
Docker Images/Mongodb/mongo-volume/diagnostic.data/metrics.2022-04-12T17-52-09Z-00000
Docker Images/Mongodb/mongo-volume/diagnostic.data/metrics.2022-04-16T13-21-44Z-00000
Docker Images/Mongodb/mongo-volume/diagnostic.data/metrics.2022-04-19T05-05-12Z-00000
Docker Images/Mongodb/mongo-volume/diagnostic.data/metrics.2022-04-19T18-13-16Z-00000
Docker Images/Mongodb/mongo-volume/journal/WiredTigerLog.0000000017
Docker Images/Mongodb/mongo-volume/index-3-5930526386702077249.wt
MicroServicesGateway/LoadMicroService/__pycache__/__init__.cpython-39.pyc
MicroServicesGateway/LoadMicroService/__pycache__/DerivativeLoadService.cpython-39.pyc
MicroServicesGateway/LoadMicroService/__pycache__/DownloadandUnzip.cpython-39.pyc
MicroServicesGateway/LoadMicroService/__pycache__/EquityLoadService.cpython-39.pyc
MicroServicesGateway/LoadMicroService/__pycache__/LoadService.cpython-39.pyc
MicroServicesGateway/LoadMicroService/__pycache__/LoadServiceRunner.cpython-39.pyc
MicroServicesGateway/LoadMicroService/__pycache__/LoadtoMongo.cpython-39.pyc
FrontEnd/.DS_Store
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo01APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo04APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo05APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo06APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo07APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo08APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo11APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo12APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo13APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo21MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo22MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo23MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo24MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo25MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo28MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo29MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo30MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo31MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm01APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm04APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm05APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm06APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm07APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm08APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm11APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm12APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm13APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm18APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm19APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm20APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm21APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm21MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm22APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm22MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm23MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm24MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm25MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm28MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm29MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm30MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm31MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/logs/.__DownloadandUnzip.lock
MicroServicesGateway/LoadMicroService/logs/.__EquityLoad.lock
MicroServicesGateway/LoadMicroService/logs/.__EquityLoadService.lock
MicroServicesGateway/LoadMicroService/logs/.__LoadService.lock
MicroServicesGateway/LoadMicroService/logs/DownloadandUnzip.log
MicroServicesGateway/LoadMicroService/logs/EquityLoad.log
MicroServicesGateway/LoadMicroService/logs/EquityLoadService.log
MicroServicesGateway/LoadMicroService/logs/LoadService.log
MicroServicesGateway/LoadMicroService/zip/cm01APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm04APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm05APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm06APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm07APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm08APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm11APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm12APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm13APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm18APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm19APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm20APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm21APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm21MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm22APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm22MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm23MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm24MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm25MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm28MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm29MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm30MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm31MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo01APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo04APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo05APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo06APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo07APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo08APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo11APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo12APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo13APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo21MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo22MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo23MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo24MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo25MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo28MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo29MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo30MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo31MAR2022bhav.csv.zip.zip
MicroServicesGateway/UtilitiesService/__pycache__/utilities.cpython-39.pyc
MicroServicesGateway/UtilitiesService/__pycache__/inputmodel.cpython-39.pyc
MicroServicesGateway/UtilitiesService/__pycache__/FileReader.cpython-39.pyc
MicroServicesGateway/UtilitiesService/__pycache__/DataRepository.cpython-39.pyc
MicroServicesGateway/UtilitiesService/__pycache__/__init__.cpython-39.pyc
MicroServicesGateway/WebSocketGateway/__pycache__/actionrouter.cpython-39.pyc
MicroServicesGateway/WebSocketGateway/__pycache__/FlaskSocket.cpython-39.pyc
MicroServicesGateway/WebSocketGateway/__pycache__/Listener.cpython-39.pyc
MicroServicesGateway/WebSocketGateway/logs/.__actionrouter.lock
MicroServicesGateway/WebSocketGateway/logs/actionrouter.log
.DS_Store
Docker Images/Mongodb/mongo-volume/diagnostic.data/metrics.2022-05-11T19-31-37Z-00000
.gitignore
Docker Images/Mongodb/mongo-volume/journal/WiredTigerLog.0000000018
Docker Images/Mongodb/mongo-volume/collection-0-2382403926854320301.wt
Docker Images/Mongodb/mongo-volume/index-1-2382403926854320301.wt
MicroServicesGateway/UtilitiesService/__pycache__/Screenersetup.cpython-39.pyc
MicroServicesGateway/ScreenMicroService/Screeners/NRScreener.py
.gitignore
.gitignore
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo02MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo04MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo05MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo06MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo09MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo10MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo11MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo12MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo13MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo16MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo17MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo18APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo18MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo19APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo19MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo20APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo20MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo21APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo22APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo25APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo26APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo27APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo28APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/deriv/fo29APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm02MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm04MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm05MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm06MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm09MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm10MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm11MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm12MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm13MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm16MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm17MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm18MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm19MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm20MAY2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm25APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm26APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm27APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm28APR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/archives/equity/cm29APR2022bhav.csv
.gitignore
MicroServicesGateway/LoadMicroService/data/deriv/fo02MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/deriv/fo03MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/deriv/fo04MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/deriv/fo07MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/deriv/fo08MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/deriv/fo09MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/deriv/fo10MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/deriv/fo11MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/deriv/fo14MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/deriv/fo15MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/deriv/fo16MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/deriv/fo17MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/equity/cm02MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/equity/cm03MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/equity/cm04MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/equity/cm07MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/equity/cm08MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/equity/cm09MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/equity/cm10MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/equity/cm11MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/equity/cm14MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/equity/cm15MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/equity/cm16MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/data/equity/cm17MAR2022bhav.csv
MicroServicesGateway/LoadMicroService/logs/.__ScreenerService.lock
MicroServicesGateway/LoadMicroService/logs/ScreenerService.log
MicroServicesGateway/LoadMicroService/zip/cm02MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm02MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm03MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm04MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm04MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm05MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm06MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm07MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm08MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm09MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm09MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm10MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm10MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm11MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm11MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm12MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm13MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm14MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm15MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm16MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm16MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm17MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm17MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm18MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm19MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm20MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm25APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm26APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm27APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm28APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/cm29APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo02MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo02MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo03MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo04MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo04MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo05MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo06MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo07MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo08MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo09MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo09MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo10MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo10MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo11MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo11MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo12MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo13MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo14MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo15MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo16MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo16MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo17MAR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo17MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo18APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo18MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo19APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo19MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo20APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo20MAY2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo21APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo22APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo25APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo26APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo27APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo28APR2022bhav.csv.zip.zip
MicroServicesGateway/LoadMicroService/zip/fo29APR2022bhav.csv.zip.zip
MicroServicesGateway/ScreenMicroService/__pycache__/__init__.cpython-39.pyc
MicroServicesGateway/ScreenMicroService/__pycache__/ScreenerGateway.cpython-39.pyc
MicroServicesGateway/ScreenMicroService/__pycache__/ScreenerServiceRunner.cpython-39.pyc
MicroServicesGateway/ScreenMicroService/logs/.__EquityLoad.lock
MicroServicesGateway/ScreenMicroService/logs/EquityLoad.log
MicroServicesGateway/ScreenMicroService/Screeners/__pycache__/__init__.cpython-39.pyc
MicroServicesGateway/ScreenMicroService/Screeners/__pycache__/DataRepository.cpython-39.pyc
MicroServicesGateway/ScreenMicroService/Screeners/__pycache__/NRScreener.cpython-39.pyc
MicroServicesGateway/ScreenMicroService/Screeners/__pycache__/ScreenerAPI.cpython-39.pyc
MicroServicesGateway/ScreenMicroService/Screeners/logs/.__Screeners.lock
MicroServicesGateway/ScreenMicroService/Screeners/logs/Screeners.log
MicroServicesGateway/ScreenMicroService/Screeners/.env
MicroServicesGateway/ScreenMicroService/.env
